<header class="sticky top-0 z-50 border-b border-white/5 bg-slate-950/60 backdrop-blur-xl">
  <div class="max-w-6xl mx-auto px-4 py-4 flex justify-between items-center">

    <a href="index.html" class="flex gap-3 items-center">
      <img src="assets/img/logo.png" class="h-10">
      <div>
        <p class="font-extrabold">MAUJERSEY</p>
        <p class="text-xs text-slate-400">Custom Sport Apparel</p>
      </div>
    </a>

    <nav class="hidden md:flex gap-6 text-sm text-slate-300">
      <a href="index.html" class="text-cyan-200">Home</a>
      <a href="katalog.html">Katalog</a>
      <a href="contact.html">Contact</a>
    </nav>

    <button id="btnMobile" class="md:hidden">☰</button>
  </div>

  <div id="mobileMenu" class="hidden md:hidden px-4 py-4 bg-slate-950">
    <a href="index.html">Home</a>
    <a href="katalog.html">Katalog</a>
    <a href="contact.html">Contact</a>
  </div>
</header>
